:root {
  --font-body: system-ui, sans-serif;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 2rem;
  --text-xxl: 3rem;

  --leading-tight: 1.1;
  --leading-normal: 1.5;
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
